# Variables de entorno para VALE-LENTES by VT VALETEC (Sistema POS & Gestión para Ópticas)

# Puerto del Backend Node.js / Express
BACKEND_PORT=8098

# Puerto del Frontend Nginx Web Server
FRONTEND_PORT=3008

# Entorno de ejecucion (production / development)
NODE_ENV=production

# Base de Datos PostgreSQL
POSTGRES_HOST=valelentes-db
POSTGRES_PORT=5432
POSTGRES_PORT_EXTERNAL=5448
POSTGRES_USER=valetec
POSTGRES_PASSWORD=valetec_secure_pass
POSTGRES_DB=valelentes_db

# Clave Secreta JWT para Autenticacion
JWT_SECRET=valelentes_jwt_super_secret_key_2026
